@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background-color: #8540F5;
    font-family: 'Poppins', sans-serif;
}
#submit-btn {
    background-color: #8540F5 !important;
    border: none;
    outline: none;
    font-size: 17px;
    color: #ffffff;
}
input#exampleFormControlInput1:focus {
    box-shadow: none !important;
}
textarea:focus{
    box-shadow: none !important;
}
.noticeFailed {
    background: #ff000038;
    padding: 12px 0;
    border-radius: 5px;
}
.noticeSuccess {
    background: #00800052;
    padding: 12px 0;
    border-radius: 5px;
}
.noticeText {
    margin: 0;
}